* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial;
}

body {
    background-color: #1f222e;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1f222e;
}

#info {
    display: flex;
    align-self: center;
    color: white;
    background-color: #47506b;
    border-radius: 100px;
    padding: 5px;
    margin: 5px;
}

#messages {
    background-color: #33394d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin: 10px 0px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

#message {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;
    padding: 10px;
    color: white;
    width: 170px;
    word-break: break-word; 
    border-radius: 0px 30px 30px 30px;
    margin: 6px;
    background-color: #9f80ff;
}

#my-msg {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-end;
    padding: 10px;
    color: white;
    width: 170px;
    word-break: break-word; 
    border-radius: 30px 30px 0px 30px;
    margin: 6px;
    background-color: #9f80ff;
}

#typing {
    height: 10px;
    color: #7580a3;
    font-family: monospace;
    padding: 1px;
}

.header {
    display: flex;
    align-items: baseline;
    padding: 10px;
    color: white;
    width: 100vw;
}

.header > p {
    display: flex;
    margin: 0 5vw;
    color: #50C878;
}

#username {
    display: flex;
    align-self: flex-start;
    padding: 3px;
    border: none;
    border-radius: 7px;
    font-size: 13pt;
    color: #9f80ff;
    width: 80vw;
    height: 20px;
    background-color: #33394d;
    transition: outline 100ms, outline-style 100ms;
}

#username:focus {
    outline-style: solid ;
}

#username::placeholder {
    color: #7580a3;
}

.container-message {
    display: flex;
    width: 100vw;
    padding: 10px;
}

.container-message > input {
    width: 90vw;
    height: 20px;
    font-size: 13pt;
    padding: 1px 5px;
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #33394d;
    transition: outline 100ms, outline-style 100ms;
}

.container-message > input::placeholder {
    font-family: Arial;
    font-size: 13pt;
    padding: 8px;
    color: #7580a3;
}

.container-message > input:focus {
    outline: #5c678a;
    outline-style: solid;
}

.container-message > button {
    color: white;
    width: 10vw;
    height: 20px;
    border-radius: 4px;
    border: none;
    background-color: #9f80ff;
    margin-left: 5px;
    cursor: pointer;
    transition: color 500ms, background-color 500ms, font-weight 500ms;
}

.container-message > button:hover {
    color: #9f80ff;
    background-color: white;
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    #my-msg, #message {
        font-size: 13pt;
        width: 200px;
        min-height: 30px;
        margin: 10px;
    }
    
    .container-message > input {
        width: 85vw;
        height: 40px;
        border-radius: 100px;
    }
    
    .container-message > button {
        font-family: monospace;
        text-align: center;
        width: 15vw;
        height: 40px;
        border-radius: 100px;
    }
}

